.page-header {
  background-color: #000;
  color: #dddd84;
  padding: 1mm;
}

form {
  width: 40em;
}

.field, .actions {
  padding: 2mm;
}

.field label {
  display: block;
  color: #64f;
  font-weight: bold;
}

.field textarea {
  width: 100%;
  height: 15em;
  padding: 2mm;
}

.field input[type=text] {
  width: 100%;
  padding: 1.2mm 0;
}

.checkbox label {
  display: inline;
}

.actions {
  display: block;
}
