<h1>Edit post</h1>
<form id="new_post" name="post" method="post" action="/posts/update">
  <input type="hidden" name="id" value="{{ post.id }}">
  <div class="field">
    <label>Title:</label>
    <input type="text" name="title" value="{{ post.title }}">
  </div>

  <div class="field">
    <label>Contents:</label>
    <textarea name="body">{{ post.body }}</textarea>
  </div>

  <div class="field">
    <input type="checkbox" checked="{{ post.published }}">
    <label>Published</label>
  </div>

  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>
