<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/application.css">
  </head>
  <body>
    <header class="page-header">
      <h1>{{ title }}</title>
    </header>
    {{#flash}}<div class="flash">{{ . }}</div>{{/flash}}
    {{{ content }}}
  </body>
</html>
