<form name="login" id="login" method="post" action="/login/create">
  <div class="field string required">
    <label for="login_email">Email:</label>
    <input type="text" id="login_email" name="email">
  </div>

  <div class="field password required">
    <label for="login_password">Password:</label>
    <input type="password" id="login_password" name="password">
  </div>

  <div class="actions">
    <input type="submit" value="Log in...">
  </div>
</form>
