<h1>Create a new post</h1>
<form id="new_post" name="post" method="post" action="/posts/create">
  <div class="field string required">
    <label for="post_title">Title:</label>
    <input type="text" name="title" id="post_title" value="{{ post.title }}">
  </div>

  <div class="field textarea required">
    <label for="post_body">Contents:</label>
    <textarea id="post_body" name="body">{{ post.body }}</textarea>
  </div>

  <div class="field checkbox">
    <input type="checkbox" id="post_published" checked="{{ post.published }}">
    <label for="post_published">Published</label>
  </div>

  <div class="actions">
    <input type="submit" value="Create post">
  </div>
</form>
