<h1>Create a new user</h1>
<form id="new_user" name="user" method="post" action="/users/create">
  <div class="field">
    <label>Username:</label>
    <input type="text" name="username" value="{{ user.username }}">
  </div>

  <div class="field">
    <label>Real Name:</label>
    <input type="text" name="realname" value="{{ realname() }}">
  </div>

  <div class="field">
    <label>Email:</label>
    <input type="text" name="email" value="{{ email() }}">
  </div>

  <div class="field">
    <label>Password:</label>
    <input type="text" name="password" value="">
  </div>

  <div class="field">
    <label>Confirm password:</label>
    <input type="text" name="email" value="">
  </div>

  <div class="actions">
    <input type="submit" value="Create user">
  </div>
</form>
