<article class="post-teaser">
  {{# post. }}
  <header>
    <h1>{{ .title }}</h1>
    {{> post_actions.html }}
  </header>
  <section class="teaser">
    {{{ rendered_body() }}}
  </section>
  {{/ post }}
</article>
